﻿@model WebApplication2.ViewModel.BMIData

@{
ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    身高 @Html.TextBoxFor(m => m.Height) 公分 <br /><br />
    體重 @Html.TextBoxFor(m => m.Weight)  公斤 <br /><br />
    <input type="submit" name="name" value="送出" />
</form>

<br />
計算結果:  @Model.BMI  <br />
等級:  @Model.Level
